# Test Report

- Total: 44
- Passed: 24
- Failed: 20

## ✅ Pos_Fun_0001 - naan veedu selkeren
- Status: passed
- Duration(ms): 7475
- Attachment: test-data

## ✅ Pos_Fun_0002 - nee naalakku kandi poviya?
- Status: passed
- Duration(ms): 7260
- Attachment: test-data

## ✅ Pos_Fun_0003 - Mazhai  peithathaal  naan  veettil  irundhen  
- Status: passed
- Duration(ms): 7761
- Attachment: test-data

## ✅ Pos_Fun_0004 - naan padippen appuram vela seiven
- Status: passed
- Duration(ms): 14003
- Attachment: test-data

## ✅ Pos_Fun_0005 - Kathavai  moodu .
- Status: passed
- Duration(ms): 7235
- Attachment: test-data

## ✅ Pos_Fun_0006 - Avar  udhavi  seyyavillai .
- Status: passed
- Duration(ms): 13292
- Attachment: test-data

## ✅ Pos_Fun_0007 - Shiromy  mekavum   azhagana pen 
- Status: passed
- Duration(ms): 7059
- Attachment: test-data

## ✅ Pos_Fun_0008 - Anbudan Vanakkam !
- Status: passed
- Duration(ms): 12008
- Attachment: test-data

## ✅ Pos_Fun_0009 - Thayavu  seythu  ithai  urudhipaduthavum   
- Status: passed
- Duration(ms): 8439
- Attachment: test-data

## ✅ Pos_Fun_0010 - Aam ,  enakku  purindhathu . 
- Status: passed
- Duration(ms): 7028
- Attachment: test-data

## ✅ Pos_Fun_0011 - Mannikkavum , naan  thaamadhamaaga  vanthuveden 
- Status: passed
- Duration(ms): 14489
- Attachment: test-data

## ✅ Pos_Fun_0012 - konjam help panraiya?
- Status: passed
- Duration(ms): 11987
- Attachment: test-data

## ✅ Pos_Fun_0013 - Naan dhinamum thanneer  kudikkiren 
- Status: passed
- Duration(ms): 7799
- Attachment: test-data

## ✅ Pos_Fun_0014 - saran nanraka aadukeeran  .
- Status: passed
- Duration(ms): 6748
- Attachment: test-data

## ✅ Pos_Fun_0015 - kamal   orupattupadeenan 
- Status: passed
- Duration(ms): 6768
- Attachment: test-data

## ✅ Pos_Fun_0016 - Avargal  naalai  varamaattaargal 
- Status: passed
- Duration(ms): 14105
- Attachment: test-data

## ✅ Pos_Fun_0017 - Naangal  paadam  padikkirOm 
- Status: passed
- Duration(ms): 12687
- Attachment: test-data

## ✅ Pos_Fun_0018 - Avar  veettil  irukkiraar 
- Status: passed
- Duration(ms): 13246
- Attachment: test-data

## ✅ Pos_Fun_0019 - Thayavu  seythu  enakku  pathil  sollungal  
- Status: passed
- Duration(ms): 8308
- Attachment: test-data

## ✅ Pos_Fun_0020 - naan oru manavan 
- Status: passed
- Duration(ms): 7190
- Attachment: test-data

## ✅ Pos_Fun_0021 - Neenkal eaan epadi pakurenkal? 
- Status: passed
- Duration(ms): 7198
- Attachment: test-data

## ✅ Pos_Fun_0022 - Saran epovum sapiduvan
- Status: passed
- Duration(ms): 12883
- Attachment: test-data

## ✅ Pos_Fun_0023 - kovil mani kekum 
- Status: passed
- Duration(ms): 6382
- Attachment: test-data

## ✅ Pos_Fun_0024 - nalaiku padasalai vedumurai
- Status: passed
- Duration(ms): 14132
- Attachment: test-data

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 13685
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 12751
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - Naan  Email anuppinen
- Status: failed
- Duration(ms): 12375
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் Email அனுப்பினேன்"[39m
Received string:    [31m"நான் ஈமெயில் அனுப்பினேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - Naan  Email anuppinen
- Status: failed
- Duration(ms): 13480
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் Email அனுப்பினேன்"[39m
Received string:    [31m"நான் ஈமெயில் அனுப்பினேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 12337
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் office போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 12666
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் office போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - Teams meeting link WhatsApp moolam anuppappattadhu. 
- Status: failed
- Duration(ms): 15378
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"Teams meeting link WhatsApp மூலம் அனுப்பப்பட்டது"[39m
Received string:    [31m"தேம்ஸ் மீட்டிங் லிங்க் வாட்ஸாப்ப் மூலம் அனுப்பப்பட்டது."[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - Teams meeting link WhatsApp moolam anuppappattadhu. 
- Status: failed
- Duration(ms): 14997
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"Teams meeting link WhatsApp மூலம் அனுப்பப்பட்டது"[39m
Received string:    [31m"தேம்ஸ் மீட்டிங் லிங்க் வாட்ஸாப்ப் மூலம் அனுப்பப்பட்டது."[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - NIC Ennai padhivu  seyya vendum 
- Status: failed
- Duration(ms): 13665
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"NIC எண்ணை பதிவு செய்தேன்"[39m
Received string:    [31m"நிக் என்னை பதிவு செய்ய வேண்டும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - NIC Ennai padhivu  seyya vendum 
- Status: failed
- Duration(ms): 13810
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"NIC எண்ணை பதிவு செய்தேன்"[39m
Received string:    [31m"நிக் என்னை பதிவு செய்ய வேண்டும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 12877
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 12551
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 12034
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 12342
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea 10.00 maniku kudikkiren
- Status: failed
- Duration(ms): 13895
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ 10.00 மணிக்கு குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி ௧௦.௦௦ மணிக்கு குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea 10.00 maniku kudikkiren
- Status: failed
- Duration(ms): 13219
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ 10.00 மணிக்கு குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி ௧௦.௦௦ மணிக்கு குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 13189
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 13072
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 12876
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 12767
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context
